#IDE
/.idea
.idea
.vscode
.ac-php-conf.json
.tmp

# compiled output
/courses/javascript_practice/dist

#node modules
courses/angular-complete-guide/node_modules
/courses/javascript_practice/node_modules/
/node_modules/
*/node_modules/


# System Files
.DS_Store
Thumbs.db

# compiled output
courses/angular-complete-guide/dist
courses/angular-complete-guide/tmp
courses/angular-complete-guide/out-tsc
# Only exists if Bazel was run
courses/angular-complete-guide/bazel-out

# profiling files
courses/angular-complete-guide/chrome-profiler-events*.json
courses/angular-complete-guide/speed-measure-plugin*.json
speed-measure-plugin*.json
chrome-profiler-events*.json

# misc
courses/angular-complete-guide/.sass-cache
courses/angular-complete-guide/connect.lock
courses/angular-complete-guide/coverage
courses/angular-complete-guide/libpeerconnection.log
courses/angular-complete-guide/npm-debug.log
npm-debug.log
courses/angular-complete-guide/yarn-error.log
yarn-error.log
courses/angular-complete-guide/testem.log
testem.log
courses/angular-complete-guide/typings


# Found Discount
telegramBots/foundDiscount/node_modules